nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

ul {
  background-color: #405837;
  list-style-type: none;
  height: 97px;
  margin: 1px;
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  display: inline-block;
}

ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 3em;
  font-size: 26px;
  line-height: 150px;
  font-weight: 300;
}

/*styling/CSS so i can hover over my navbar (Light Mode)*/
nav ul li :hover {
  color: #4a4a4a;
  transition: all;
}

body {
  background-color: white;
  margin: 0;
}

#section-of-image {
  background-image: url(images/thumbnail_Outlook-kr1ljt4j.png);
  background-size: 1570px 700px;
  background-repeat: no-repeat;
  width: 15700px;
  height: 700px;
  position: fixed;
  top: 100px;
}

html {
  width: 100%;
}

.text-areas {
  background-color: rgb(43, 59, 43);
  border-radius: 5px;
  width: 1300px;
  height: 300px;
  margin-left: 8%;
  opacity: 0%;
  margin-top: 150px;
  position: relative;
  animation: fadeIn 1.5s ease-in-out 0.4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}
